<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>credits</key>
	<string>credits</string>
	<key>how-to-input</key>
	<string>how-to-input</string>
	<key>about-app</key>
	<string>about-app</string>
	<key>general-rules</key>
	<string>general-rules</string>
</dict>
</plist>
